.formControl {
    width: 120px;
    height: 3.125rem;
   

&-inputLabel {
    height: 3.125rem;
    &:focus {
        color: aliceblue;

    }
}
}

.filter {
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

&-container__form {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
}